body{
  background-image: url(background.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}

#box{
  box-sizing: border-box;
  margin: 5% 15%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding-bottom: 5%
}

#logo{
  margin-top: 70px;
  height: 30%;
  width: 30%;
}

h1{
  color: #66FF00;
}

nav{
  background-color: #66FF00;
  padding: 5px;
}

button{
  border-color: black;
  background-color: white;
}

main{
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

h3{
  display: inline-block;
}

.indirizzo,spam{
  line-height: 22px;
}

.barra{
  border-radius: 4px;
  height: 25px;
}

.arancione{
  background-color: rgb(225, 165, 0);
  margin-right: 70%;
}
.verde{
  background-color: rgb(50,205,50);
  margin-right: 30%;
}

.rossa{
  background-color: rgb(220, 20, 60);
  margin-right: 90%;
}
